<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 style="color: #962d91;">ComBox</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #complainForm="ngForm" (ngSubmit)="onComplainPost(complainForm)" style="padding: 8px;">
      <!-- for complain input -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Your Complant or Suggestion *</mat-label>
          <textarea matInput ngModel name="Complain" placeholder="Please include as much info as possible" rows="3"></textarea>
        </mat-form-field>

      <!-- complain voice -->
      <span class="title">Add voice message</span>
        <div class="voice-container">
          <div class="text-center voice-countdown" *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
          <div class="text-center">
            <audio *ngIf="!isRecording && blobUrl" controls>
              <source [src]="blobUrl" type="audio/webm">
            </audio>
          </div>
        </div>
        <!-- button for audio controls -->
        <div class="d-flex text-center animate__animated animate__slideInUp">
          <!-- button clear -->
          <div class="clear-btn" *ngIf="!isRecording && blobUrl">
              <button type="button" id="clearRec" class="btn-voice me-3" (click)="clearRecordedData()"><i class="fa-solid fa-broom fa-xl" style="width: 16px; height: 16px;"></i></button><br>
              <span>Clear</span>
          </div>
          <!-- button start record -->
          <div class="play-btn" *ngIf="!isRecording && !blobUrl">
              <button type="button" id="startRec" class="btn-voice me-3" (click)="startRecording()"><i class="fa-solid fa-play fa-xl" style="width: 16px; height: 16px;"></i></button><br>
              <span>Play</span>
          </div>
          <!-- button stop -->
          <div class="stop-btn" *ngIf="isRecording && !blobUrl">
              <button type="button" class="btn-voice me-3" (click)="stopRecording()"><i class="fa-solid fa-stop fa-xl" style="width: 16px; height: 16px;"></i></button><br>
              <span>Stop</span>
          </div>
          <!-- button download -->
          <div class="download-btn" *ngIf="!isRecording && blobUrl">
              <button type="button" class="btn-voice" (click)="download()"><i class="fa-solid fa-download fa-xl" style="width: 16px; height: 16px;"></i></button><br>
              <span>Download</span>
          </div>
      </div>
      <!-- end complain voice -->

      <!-- attch photos -->
          <span class="title">Attach photos or videos</span>
          <ion-input type="file" id="formFileMultiple" multiple (change)="onSelect($event)"></ion-input>

      <!-- company name field -->
        <mat-form-field class="example-full-width" style="margin-top: 6px;" appearance="fill">
          <mat-label>Company name *</mat-label>
          <input matInput ngModel name="CompanyName" type="text" placeholder="Write the name of company">
        </mat-form-field>

      <!-- Company address field -->
        <mat-form-field class="example-full-width" style="margin-top: 6px;" appearance="fill">
          <mat-label>Company Address *</mat-label>
          <input matInput required name="CompanyAddress" type="text" placeholder="Write the address of company">
        </mat-form-field>

      <!-- label alreday checkbox -->
        <section>
          <mat-checkbox class="example-margin"><span style="font-size: 14px;">Already tried to find solution inside the company</span></mat-checkbox>
        </section>

      <!-- user data section -->
        <!-- Rounded switch -->
        <label class="toggle">
          <span class="toggle-label form-label">Send anonymously</span>
          <input [ngModel]="true" name="SendAnonymously" class="toggle-checkbox" type="checkbox" #SendAnonymously="ngModel">
          <div class="toggle-switch"></div>
        </label>

        <!-- username -->
        <mat-form-field class="example-full-width" style="margin-top: 6px;" appearance="fill">
          <mat-label>Your name</mat-label>
          <input matInput ngModel name="YourName" type="text" placeholder="Write your name">
        </mat-form-field>

        <!-- phone number -->
        <mat-form-field class="example-full-width" style="margin-top: 6px;" appearance="fill">
          <mat-label>Your name</mat-label>
          <input matInput ngModel name="PhoneNumber" type="text" placeholder="Write your phone number" [readonly]="SendAnonymously.value == true">
        </mat-form-field>

        <ion-list style="margin: auto; text-align: center;">
          <ion-button type="submit">Send</ion-button>
        </ion-list>
  </form>
</ion-content>
