<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 style="color: #962d91;">ComBox</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="text-align: center;">
    <h3>
      <b>Thank you for you submision</b>
    </h3>
    <p style="padding: 0px 10px;">Save the Ticket number and password for further query. Please wait 3 working days before checking for an answer.</p>
  </section>

  <!-- ticket info and save clipboard options -->
  <ion-card style="padding: 10px 0px 15px;">
    <ion-card-content>
      <p class="d-flex">
        <span><img src="../../../assets/img/ion_ticket.png"></span>
        <span>Ticket number: </span>
        <span><b>Tr-01234</b></span>
      </p>
      <p class="d-flex">
        <img src="../../../assets/img/fluent_password-16-filled.png">
        <span>Password: </span>
        <span><b>abcdfkjdjf</b></span>
      </p>
      <ion-button size="small" class="btn-ion-cpy" [cdkCopyToClipboard]="totalTicketInfo"><i class="fa-regular fa-copy" style="margin-right: 3px;"></i>Copy</ion-button>
      <ion-button size="small" class="btn-ion-listen" (click)="playAudio()"><i class="fa-solid fa-volume-high"></i></ion-button>
    </ion-card-content>
  </ion-card>
  <!-- end ticket info and save -->

  <!-- for save screenshot -->
  <ion-button class="ion-btn-dwnload" expand="block" fill="outline" style="padding: 0px 10px;"><i class='bx bx-download bx-sm' style="margin-right: 5px;"></i>Save as photo</ion-button>

  <!-- complete done button -->
  <ion-button class="ion-btn-complete" style="padding: 0px 10px; margin: 30px 0px 20px;" expand="block" id="open-modal">Done</ion-button>


  <!-- modal for close message -->
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Thank you!</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()"><i class="fa-solid fa-xmark fa-xl"></i></ion-button>
          </ion-buttons>
        </ion-toolbar>
          <ion-list style="text-align: center;">
            <img style="width: 180px;" src="../../../assets/img/appreciation.png" alt="">
            <p style="padding: 0px 10px;">We will review your complain and took proper action about it.</p>
            <ion-button href="home" fill="outline" class="btn-back-home"><i class='bx bx-home-alt-2 bx-sm' style="margin-right: 5px;"></i>Back to Home</ion-button>
          </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- end modal -->
</ion-content>
