<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 style="color: #962d91;">ComBox</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- language field -->
  <div class="mt-5">
    <!-- English -->
    <div class="mb-4">
        <input type="button" class="btn-check" name="language" id="english" autocomplete="off">
        <label class="btn btn-outline-secondary btn-language mb-2 mx-auto" for="english"><span><img class="flag" src="../../../assets/us.png" alt="english"></span> <span><b>English</b></span></label>
        <!-- <ion-button class="btn-language mb-2 mx-auto" for="english">
          <span><img class="flag" src="../../../assets/us.png" alt="english"></span> <span><b>English</b></span>
        </ion-button> -->
    </div>

    <!-- Vietnam -->
    <div class="mb-4">
      <input type="button" class="btn-check" name="language" id="Vietnam" autocomplete="off">
      <label class="btn btn-outline-secondary btn-language mb-2 mx-auto" for="Vietnam"><span><img class="flag" src="../../../assets/Vietnam.png" alt="Vietnam"></span> <span><b>Tiếng <br> Việt Nam</b></span></label>
    </div>

    <!-- Cambodia -->
    <div class="mb-4">
      <input type="button" class="btn-check" name="language" id="Cambodia" autocomplete="off">
      <label class="btn btn-outline-secondary btn-language mb-2 mx-auto" for="Cambodia"><span><img class="flag" src="../../../assets/Cambodia.png" alt="Cambodia"></span> <span><b>ភាសាខ្មែរ</b></span></label>
    </div>
</div>
<!-- end row -->
</ion-content>
