<ion-header>
  <ion-toolbar>
    <div class="ion-toolbar">
      <span><ion-title>Login</ion-title></span>
      <button (click)="goBack()"><i class='bx bx-arrow-back bx-sm'></i></button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="max-width: 80%; text-align: center; margin: auto; margin-top: 30px;" #userLogin="ngForm" (ngSubmit)="onLogin(userLogin)">
    <!-- <ion-item style="margin-bottom: 15px;" fill="outline">
      <ion-label position="floating">Ticket number</ion-label>
      <ion-input placeholder="Enter ticket number" ngModel name="ticketNumber" type="text"></ion-input>
    </ion-item> -->

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{'Ticket number' | translate}}</mat-label>
      <input matInput placeholder="{{'Enter ticket number' | translate}}" ngModel name="ticketNumber" type="text">
    </mat-form-field>

    <!-- <ion-item fill="outline" style="margin-bottom: 15px;">
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Enter ticket number" ngModel name="password" type="password"></ion-input>
    </ion-item> -->

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{'Password' | translate}}</mat-label>
      <input matInput placeholder="{{'Enter your password' | translate}}" ngModel name="password" type="password">
    </mat-form-field>

    <div>
      <ion-button type="submit" style="margin-top: 10px; text-transform: none;">Login</ion-button>
    </div>
  </form>
</ion-content>
