// ion-item.item-has-focus {
//     --highlight-background:black;
// }

:host {
    .item-interactive.ion-invalid{
     --highlight-background: yellow !important;
   }
   .item-interactive.ion-valid{
     --highlight-background: black !important;
   }
   .item-has-focus{
    --highlight-background: #e2e2e2;
 }
 }

 ion-item {
    --border-color: black;
    --highlight-background: black !important;
  }

  ion-label {
    color: black !important;
 }

 ion-button {
    --background: #90278E;
 }

 .ion-toolbar {
  display: flex;
  justify-content: space-between;
  color: #90278E;
  font-weight: 500;
  button {
    margin-right: 15px; 
    background: transparent; 
    color: #90278E;
  }
}

 .example-full-width {
  width: 100%;
}

